@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

body {
  width: 100%;
  margin: 0;
}

.l-header {
  width: 100%;
  height: 100px;
  background: #FFEDEE;
}

.l-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-header .logo {
  margin: 0;
}

.l-header .logo img {
  width: 130px;
  height: auto;
  margin: 20px 15px 15px 15px;
}

@media (min-width: 415px) {
  .l-header .logo img {
    width: 187px;
  }
}

@media (min-width: 1025px) {
  .l-header .logo img {
    width: 230px;
  }
}

.l-header #nav-drawer {
  position: relative;
}

.l-header #nav-drawer .nav-unshown {
  display: none;
}

.l-header #nav-drawer #nav-open {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 34px;
  top: 32px;
  left: -60%;
  vertical-align: middle;
  background: #F0F9E0;
}

.l-header #nav-drawer .ham_line {
  position: absolute;
  width: 40px;
  height: 3px;
  left: 1px;
  border-radius: 5px;
  background: #707070;
}

.l-header #nav-drawer .ham_line1, .l-header #nav-drawer .ham_line2, .l-header #nav-drawer .ham_line3 {
  z-index: 101;
}

.l-header #nav-drawer .ham_line1 {
  top: 0;
}

.l-header #nav-drawer .ham_line2 {
  top: 16px;
}

.l-header #nav-drawer .ham_line3 {
  top: 31px;
}

.l-header #nav-drawer #nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.l-header #nav-drawer #content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 80%;
  max-width: 300px;
  height: 500px;
  background: #fff;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
}

@media (min-width: 415px) {
  .l-header #nav-drawer #content {
    display: inline;
  }
}

.l-header #nav-drawer #content .main-nav {
  list-style: none;
}

@media (min-width: 1025px) {
  .l-header #nav-drawer #content .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.l-header #nav-drawer #content .main-nav li a {
  text-decoration: none;
  color: #030303;
}

.l-header #nav-drawer .ham_line1, .l-header #nav-drawer .ham_line2, .ham_line3
.l-header #nav-drawer:active {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.l-header #nav-drawer .ham_line1, .ham_line3
.l-header #nav-drawer:active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 14px;
}

.ham_line2
.l-header #nav-drawer:active {
  opacity: 0;
}

.l-header #nav-drawer .ham_line2 {
  -webkit-transition: opacity .4s ease-in;
  transition: opacity .4s ease-in;
}

.l-header #nav-drawer .ham_line1, .l-header #nav-drawer .ham_line3 {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.l-header #nav-drawer #nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}

.l-header #nav-drawer #nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
          box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}

.l-footer {
  background: #FFEDEE;
}

.l-footer .c-inner {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-footer .c-inner .footer_li {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 180px;
  max-width: 360px;
  width: 75%;
  height: 65px;
  margin: 0 auto;
}

@media (min-width: 415px) {
  .l-footer .c-inner .footer_li {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    min-width: 200px;
    max-width: 1000px;
    height: auto;
  }
}

.l-footer .c-inner .footer_li li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 23%;
  height: 20px;
  margin: 1%;
}

@media (min-width: 415px) {
  .l-footer .c-inner .footer_li li {
    width: 10%;
    margin: 0 auto;
  }
}

.l-footer .c-inner .footer_li li a {
  text-decoration: none;
  color: #030303;
  font-size: 14px;
}

.l-footer .c-inner .footer_li .f_nav {
  width: 27%;
}

@media (min-width: 415px) {
  .l-footer .c-inner .footer_li .f_nav {
    width: 12%;
  }
}

.l-footer .c-inner .footer_li .f_nav_p {
  width: 40%;
}

@media (min-width: 415px) {
  .l-footer .c-inner .footer_li .f_nav_p {
    width: 18%;
  }
}

.l-footer p {
  text-align: center;
  font-size: 10px;
  margin-top: 4%;
  margin-bottom: 0;
}

@media (min-width: 415px) {
  .l-footer p {
    margin-top: 1.5%;
  }
}

@media (min-width: 415px) {
  .l-footer small {
    font-size: 12px;
  }
}

.l-sidebar {
  width: 100%;
}

@media (min-width: 415px) {
  .l-sidebar {
    padding-bottom: 1%;
  }
}

@media (min-width: 1025px) {
  .l-sidebar {
    padding-top: 60px;
    margin-right: 60px;
  }
}

.l-sidebar form {
  display: none;
}

@media (min-width: 1025px) {
  .l-sidebar form {
    display: block;
    margin-bottom: 30px;
    margin-left: 3.9%;
  }
}

.l-sidebar .search_inner {
  position: relative;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 8px;
  width: 260px;
  margin: 0 auto;
}

.l-sidebar .search_inner dt {
  margin-right: 40px;
  padding: 8px 0 5px 8px;
}

.l-sidebar .search_inner dt input {
  width: 100%;
  height: 24px;
  line-height: 24px;
  background: none;
  border: none;
}

.l-sidebar .search_inner dt input[type="text"] {
  font-size: 14px;
  padding-left: 5px;
}

.l-sidebar .search_inner dd {
  position: absolute;
  top: 0;
  right: 0;
}

.l-sidebar .search_inner dd button {
  display: block;
  padding: 7px 15px 3px;
  background: none;
  border: none;
}

.l-sidebar .search_inner dd button span {
  display: block;
  width: 30px;
  height: 30px;
  background: url("/images/search_mark.svg") no-repeat scroll 0 0;
}

.c-headline-border::before, .c-headline-border::after {
  content: '';
  -ms-flex-preferred-size: 18px;
      flex-basis: 18px;
  height: 3px;
  background: #FEC1C8;
  border-radius: 9px;
}

@media (min-width: 415px) {
  .c-headline-border::before, .c-headline-border::after {
    -ms-flex-preferred-size: 20px;
        flex-basis: 20px;
  }
}

.c-headline-border::before {
  margin-right: 3px;
}

.c-headline-border::after {
  margin-left: 2px;
}

.c-sns__icon {
  list-style: none;
}

@media (min-width: 1025px) {
  .c-sns__icon {
    margin: 0 auto;
  }
}

.c-barline-border {
  border-radius: 9px;
}

.c-barline-border::before, .c-barline-border::after {
  position: absolute;
  content: '';
  width: 2px;
  background: #FEC1C8;
  border-radius: 9px;
}

.c-wrapper__404 {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  padding: 30px 0 40px 0;
  text-align: center;
  position: relative;
}

@media (min-width: 415px) {
  .c-wrapper__404 {
    max-width: 984px;
    padding-bottom: 80px;
  }
}

@media (min-width: 1025px) {
  .c-wrapper__404 {
    max-width: 876px;
    margin: 0;
    padding-top: 100px;
  }
}

.c-wrapper__404::after {
  position: absolute;
  content: '';
  width: 106%;
  height: 1px;
  background: #DCDCDC;
  top: 100%;
  left: -3%;
}

@media (min-width: 1025px) {
  .c-wrapper__404::after {
    display: none;
  }
}

.c-wrapper__404 .ttl {
  font-weight: inherit;
}

@media (min-width: 415px) {
  .c-wrapper__404 .ttl {
    margin: auto;
    font-size: 30px;
  }
}

.c-wrapper__404 h3 {
  font-size: 16px;
  font-weight: inherit;
  margin-bottom: 1.2%;
}

@media (min-width: 415px) {
  .c-wrapper__404 h3 {
    font-size: 24px;
    margin: 4% 0 2% 0;
  }
}

.c-wrapper__404 p {
  font-size: 10px;
  margin: auto;
}

@media (min-width: 415px) {
  .c-wrapper__404 p {
    font-size: 16px;
  }
}

.c-wrapper__404 .c-btn__404 {
  margin-top: 20px;
}

@media (min-width: 415px) {
  .c-wrapper__404 .c-btn__404 {
    margin-top: 40px;
  }
}

.c-wrapper__404 .c-btn {
  max-width: 240px;
  height: 26px;
  margin: 0 auto;
  background: #FFD6DB;
  border-radius: 7px;
}

@media (min-width: 415px) {
  .c-wrapper__404 .c-btn {
    max-width: 400px;
    height: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-wrapper__404 .c-btn a {
  text-decoration: none;
  color: #030303;
  font-size: 10px;
}

@media (min-width: 415px) {
  .c-wrapper__404 .c-btn a {
    font-size: 20px;
  }
}

.contact {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  padding: 30px 0 40px 0;
  position: relative;
}

@media (min-width: 415px) {
  .contact {
    max-width: 450px;
    padding-bottom: 80px;
  }
}

@media (min-width: 1025px) {
  .contact {
    max-width: 816px;
    padding: 100px 0 80px 0;
  }
}

.contact::after {
  position: absolute;
  content: '';
  width: 106%;
  height: 1px;
  background: #DCDCDC;
  top: 100%;
  left: -3%;
}

@media (min-width: 415px) {
  .contact::after {
    width: 228%;
    left: -64%;
  }
}

@media (min-width: 1025px) {
  .contact::after {
    display: none;
  }
}

.contact .t_contact {
  font-weight: inherit;
  margin: auto;
  font-size: 20px;
  text-align: center;
}

@media (min-width: 415px) {
  .contact .t_contact {
    font-size: 24px;
  }
}

@media (min-width: 1025px) {
  .contact .t_contact {
    font-size: 30px;
  }
}

.contact .t_contact::before, .contact .t_contact::after {
  position: absolute;
  content: '';
  width: 18px;
  height: 3px;
  background: #FFD6DB;
  border-radius: 7px;
  top: 45px;
}

@media (min-width: 415px) {
  .contact .t_contact::before, .contact .t_contact::after {
    width: 20px;
    top: 48px;
  }
}

@media (min-width: 1025px) {
  .contact .t_contact::before, .contact .t_contact::after {
    top: 121px;
  }
}

.contact .t_contact::before {
  left: 29%;
}

@media (min-width: 415px) {
  .contact .t_contact::before {
    left: 28.5%;
  }
}

@media (min-width: 1025px) {
  .contact .t_contact::before {
    left: 35.5%;
  }
}

.contact .t_contact::after {
  left: 66%;
}

@media (min-width: 415px) {
  .contact .t_contact::after {
    left: 67%;
  }
}

@media (min-width: 1025px) {
  .contact .t_contact::after {
    left: 62%;
  }
}

.contact .form_box {
  padding-top: 20px;
}

@media (min-width: 1025px) {
  .contact .form_box {
    padding-top: 40px;
  }
}

.contact .form_box form {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 1025px) {
  .contact .form_box form {
    width: 50%;
  }
}

.contact .form_box form div {
  margin-bottom: 10px;
}

.contact .form_box form div label {
  display: block;
  font-size: 14px;
}

@media (min-width: 415px) {
  .contact .form_box form div label {
    font-size: 16px;
    margin-bottom: 4px;
  }
}

.contact .form_box form div label[for="message"] {
  margin-bottom: 5px;
}

.contact .form_box form div label .mandatory_tag {
  font-size: 12px;
  margin-left: 5px;
  background: #FFD6DB;
  border-radius: 5px;
  padding: 1%;
  display: inline-block;
}

@media (min-width: 415px) {
  .contact .form_box form div label .mandatory_tag {
    font-size: 14px;
  }
}

.contact .form_box form div input[type="text"] {
  width: 100%;
  height: 1.25rem;
  max-width: 350px;
  border: 1px solid #707070;
  border-radius: 5px;
  margin-bottom: 5px;
}

@media (min-width: 415px) {
  .contact .form_box form div input[type="text"] {
    height: 2rem;
    max-width: 420px;
  }
}

.contact .form_box form div textarea {
  width: 100%;
  max-width: 350px;
  height: 15rem;
  border: 1px solid #707070;
  border-radius: 5px;
  margin-bottom: 5px;
}

@media (min-width: 415px) {
  .contact .form_box form div textarea {
    max-width: 420px;
  }
}

.contact .form_box form input[type="submit"] {
  border: none;
}

.contact .form_box form .button {
  font-size: 14px;
  background: #FFD6DB;
  border-radius: 5px;
  padding: 1%;
  display: inline-block;
}

@media (min-width: 415px) {
  .contact .form_box form .button {
    padding: 1% 2.5%;
  }
}

.p-side-navigation {
  margin: 0 auto;
  max-width: 390px;
}

@media (min-width: 415px) {
  .p-side-navigation {
    max-width: 984px;
  }
}

@media (min-width: 1025px) {
  .p-side-navigation {
    width: 280px;
    height: auto;
    border: 1px solid #FFD6DB;
  }
}

.p-side-navigation__title {
  font-weight: normal;
  font-size: 2rem;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 415px) {
  .p-side-navigation__title {
    margin-top: 40px;
  }
}

@media (min-width: 1025px) {
  .p-side-navigation__title {
    padding-top: 10px;
    margin-top: 20px;
  }
}

.p-side-navigation__main-menu {
  list-style: none;
  padding: 0;
}

.p-side-navigation__main-menu__word {
  font-size: 1.2rem;
  margin: 0 0 3% 10%;
  position: relative;
}

@media (min-width: 415px) {
  .p-side-navigation__main-menu__word {
    margin: 0 0 2% 10%;
  }
}

@media (min-width: 1025px) {
  .p-side-navigation__main-menu__word {
    font-size: 1.5rem;
    margin: 0 0 8% 20%;
  }
}

.p-side-navigation__main-menu__word::before, .p-side-navigation__main-menu__word::after {
  height: 15px;
}

@media (min-width: 1025px) {
  .p-side-navigation__main-menu__word::before, .p-side-navigation__main-menu__word::after {
    height: 18px;
  }
}

.p-side-navigation__main-menu__word::before {
  left: -10px;
}

.p-side-navigation__main-menu__word::after {
  left: -6px;
}

.p-side-navigation__main-menu a {
  text-decoration: none;
  color: #030303;
}

.p-side-navigation__sns-menu {
  padding-left: inherit;
  display: none;
}

@media (min-width: 1025px) {
  .p-side-navigation__sns-menu {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 208px;
    padding: 5% 0 7%;
  }
}

.p-side-navigation__sns-menu .twitter,
.p-side-navigation__sns-menu .facebook,
.p-side-navigation__sns-menu .instagram {
  margin: 0 auto;
}

.p-side-navigation__sns-menu img {
  width: 45px;
  height: auto;
}
/*# sourceMappingURL=style.css.map */