@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.l-header {
  width: 100%;
  height: 60px;
  background: #FFEDEE;
}

@media (min-width: 1025px) {
  .l-header {
    height: 130px;
  }
}

.l-header__lead {
  display: none;
}

@media (min-width: 1025px) {
  .l-header__lead {
    display: block;
    font-size: 1.2rem;
    padding: 14px 0;
    margin-left: 59px;
  }
}

.l-footer {
  background: #FFEDEE;
}

@media (min-width: 415px) {
  .l-footer small {
    font-size: 1.2rem;
  }
}

.l-sidebar {
  width: 100vw;
  margin: 0 calc( 50% - 50vw);
  overflow: hidden;
  padding-top: 20px;
}

@media (min-width: 415px) {
  .l-sidebar {
    padding-bottom: 1%;
  }
}

@media (min-width: 1025px) {
  .l-sidebar {
    width: 100%;
    margin: 0;
    max-width: 280px;
    padding-top: 60px;
  }
}

@media (min-width: 1025px) {
  .l-contents {
    max-width: 78%;
  }
}

.l-container {
  margin: 0 auto;
  max-width: 360px;
}

@media (min-width: 415px) {
  .l-container {
    max-width: 984px;
    max-width: 1024px;
    padding: 0 20px;
  }
}

@media (min-width: 1025px) {
  .l-container {
    padding: 0;
    max-width: 1280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.l-wrapper {
  display: block;
  max-width: 100%;
  min-width: 261px;
  margin: 0 auto;
}

@media (min-width: 1025px) {
  .l-wrapper {
    max-width: 1280px;
  }
}

.c-search-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 32px;
  background: #fff;
  border: solid 1px #aaa;
  border-radius: 5px;
}

@media (min-width: 1025px) {
  .c-search-window {
    max-width: 250px;
    height: 40px;
  }
}

.c-search-window__button {
  height: auto;
  background: none;
  border: none;
}

.c-search-window__img {
  width: 15px;
  height: auto;
}

input[type="text"] {
  height: auto;
  font-size: 1.4rem;
  background: none;
  border: none;
  width: 90%;
  padding-left: 10px;
}

.c-headline-border::before, .c-headline-border::after {
  content: '';
  -ms-flex-preferred-size: 18px;
      flex-basis: 18px;
  height: 3px;
  background: #FEC1C8;
  border-radius: 9px;
}

@media (min-width: 415px) {
  .c-headline-border::before, .c-headline-border::after {
    -ms-flex-preferred-size: 20px;
        flex-basis: 20px;
  }
}

.c-headline-border::before {
  margin-right: 3px;
}

.c-headline-border::after {
  margin-left: 2px;
}

.c-sns__icon {
  list-style: none;
}

@media (min-width: 1025px) {
  .c-sns__icon {
    margin: 0 auto;
  }
}

.c-barline-border::before, .c-barline-border::after {
  position: absolute;
  content: '';
  width: 2px;
  background: #FEC1C8;
  border-radius: 9px;
}

.c-boundary-line {
  border-top: 1px solid #dcdcdc;
}

.c-boundary-line:first-child {
  border: 0;
}

.c-time-category-chunk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.time,
.category {
  list-style: none;
}

.time {
  color: #797979;
}

.category {
  color: #FFC0C8;
  font-weight: bold;
}

.c-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 20px 12px 40px;
}

@media (min-width: 415px) {
  .c-pagination {
    padding: 10px 20px 80px;
  }
}

@media (min-width: 1025px) {
  .c-pagination {
    padding: 40px 0 80px;
  }
}

.page-list {
  list-style: none;
}

.page-list a {
  color: #030303;
  text-decoration: none;
  font-size: 1.5rem;
}

.before-to,
.page-active,
.page,
.extend,
.next {
  margin: 0 5px;
}

@media (min-width: 415px) {
  .before-to,
  .page-active,
  .page,
  .extend,
  .next {
    margin: 0 4px;
  }
}

@media (min-width: 1025px) {
  .before-to,
  .page-active,
  .page,
  .extend,
  .next {
    margin: 0 6px;
  }
}

.page-active,
.page {
  padding: 12px 15px;
}

.page-active {
  background: #FFD6DB;
  border: solid 1px #FFD6DB;
}

.before-to,
.page,
.next {
  border: solid 1px #656565;
}

.before-to,
.next {
  padding: 12px;
  position: relative;
}

.before-to::before, .before-to::after,
.next::before,
.next::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 1px;
  background: #656565;
}

.before-to::before,
.next::before {
  top: 9px;
}

.before-to::after,
.next::after {
  top: 29px;
}

.before-to {
  border-left: none;
  padding-left: 10px;
}

.before-to::before, .before-to::after {
  left: -20px;
}

.before-to::before {
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
}

.before-to::after {
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

.next {
  border-right: none;
  padding-right: 10px;
}

.next::before, .next::after {
  right: -20px;
}

.next::before {
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

.next::after {
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
}

.c-mainvisual img {
  max-width: 100%;
}

@media (min-width: 1025px) {
  .c-mainvisual img {
    width: 100%;
  }
}

.c-btn {
  text-decoration: none;
  color: #444;
  background: #FFD6DB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 61%;
  height: 26px;
  border-radius: 5px;
}

@media (min-width: 415px) {
  .c-btn {
    width: 40%;
    height: 46px;
    font-size: 2rem;
  }
}

.c-container {
  margin: auto;
  max-width: 320px;
  padding-top: 20px;
}

@media (min-width: 415px) {
  .c-container {
    min-width: 200px;
    max-width: 1000px;
    padding-top: 40px;
  }
}

.c-title {
  font-weight: normal;
  font-size: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 415px) {
  .c-title {
    font-size: 2.6rem;
  }
}

@media (min-width: 1025px) {
  .c-title {
    font-size: 3.0rem;
    margin: 0;
  }
}

.p-head-flex-sp {
  width: 65vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 415px) {
  .p-head-flex-sp {
    width: 95vw;
    margin-left: 10px;
  }
}

@media (min-width: 1025px) {
  .p-head-flex-sp {
    display: block;
    margin-left: 0;
    width: auto;
  }
}

.p-head-flex-sp__logo {
  margin: 0;
}

@media (min-width: 415px) {
  .p-head-flex-sp__logo {
    margin: 0 auto;
  }
}

@media (min-width: 1025px) {
  .p-head-flex-sp__logo {
    margin: 0;
  }
}

.p-head-flex-sp__logo img {
  max-width: 110px;
}

@media (min-width: 1025px) {
  .p-head-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 50px;
  }
}

@media (min-width: 1025px) {
  .logo img {
    max-width: 150px;
    height: auto;
  }
}

.p-hamburger-menu {
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  background: #FFEDEE;
  position: relative;
}

@media (min-width: 1025px) {
  .p-hamburger-menu {
    display: none;
  }
}

.p-hamburger-menu::before, .p-hamburger-menu::after {
  position: absolute;
  content: '';
  height: 2px;
  background: #333;
  border-radius: 5px;
  left: calc( 50% - ( 30px / 2 ));
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.p-hamburger-menu::before {
  width: 30px;
  top: 21px;
}

.p-hamburger-menu::after {
  width: 20px;
  top: 39px;
}

.p-hamburger-menu span {
  font-size: 0;
  position: absolute;
  content: '';
  width: 30px;
  height: 2px;
  background: #333;
  border-radius: 5px;
  top: 50%;
  left: calc( 50% - ( 30px / 2 ));
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.p-hamburger-menu.is-open::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 28px;
}

.p-hamburger-menu.is-open::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 30px;
  top: 28px;
}

.p-hamburger-menu.is-open span {
  background: none;
}

body.is-open {
  position: fixed;
}

.c-dorower-bg-sp.is-open {
  background: rgba(0, 0, 0, 0.45);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9998;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (min-width: 1025px) {
  .p-head-nav-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-head-nav-flex__search {
  visibility: collapse;
}

@media (min-width: 1025px) {
  .p-head-nav-flex__search {
    visibility: visible;
    width: 300px;
  }
}

.p-head-nav {
  display: none;
  z-index: 9999;
  position: fixed;
  width: 100vw;
  height: calc( 100% - 50px);
  background: #fff;
}

@media (min-width: 1025px) {
  .p-head-nav {
    display: initial;
    position: static;
    width: 100%;
    height: auto;
    background: none;
    margin-right: 20px;
  }
}

.p-head-nav__navigation {
  overflow: scroll;
  height: 87%;
}

@media (min-width: 1025px) {
  .p-head-nav__navigation {
    overflow: visible;
    height: auto;
  }
}

.p-head-nav__navigation__menu {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 80%;
  height: auto;
}

@media (min-width: 1025px) {
  .p-head-nav__navigation__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 100%;
  }
}

.p-head-nav__navigation__menu li {
  border-bottom: solid 1px #acacac;
  padding: 20px 0;
}

@media (min-width: 1025px) {
  .p-head-nav__navigation__menu li {
    border-bottom: none;
    padding: 0;
    margin: 0 1%;
  }
}

.p-head-nav__navigation__menu li:last-child {
  border: 0;
  padding: 20px 0 50px;
}

@media (min-width: 1025px) {
  .p-head-nav__navigation__menu li:last-child {
    padding: 0;
    white-space: nowrap;
  }
}

.p-head-nav__navigation__menu a {
  text-decoration: none;
  color: #333;
  font-size: 1.6rem;
  padding-left: 15px;
}

@media (min-width: 1025px) {
  .p-head-nav__navigation__menu a {
    padding: 10px 5px;
    display: inline-block;
  }
}

@media (min-width: 1025px) {
  .p-head-nav__navigation__menu a::after {
    display: block;
    border-bottom: solid 1px #ccc;
    bottom: 0;
    content: '';
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 0;
  }
}

@media (min-width: 1025px) {
  .p-head-nav__navigation__menu a:hover {
    color: #ccc;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

@media (min-width: 1025px) {
  .p-head-nav__navigation__menu a:hover::after {
    width: 100%;
  }
}

.p-head-nav__sns {
  background: #FFEDEE;
  height: 90px;
  width: 100vw;
  position: fixed;
  bottom: 0;
}

@media (min-width: 1025px) {
  .p-head-nav__sns {
    visibility: collapse;
  }
}

.p-head-nav__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0 auto;
  min-width: 180px;
  max-width: 300px;
}

@media (min-width: 1025px) {
  .p-head-nav__icon {
    display: none;
  }
}

.twitter,
.facebook,
.instagram {
  text-align: center;
  margin: 0 10%;
}

.twitter img,
.facebook img,
.instagram img {
  width: 40px;
  height: auto;
}

.p-contents-search {
  padding: 20px 0;
  margin: 0 auto;
  width: 93%;
}

@media (min-width: 1025px) {
  .p-contents-search {
    display: none;
  }
}

.p-contents-search__window {
  border-radius: 40px;
}

.p-contents {
  padding-top: 30px;
}

@media (min-width: 415px) {
  .p-contents {
    padding-top: 60px;
  }
}

.error {
  text-align: center;
  padding: 50px 0 40px;
}

@media (min-width: 415px) {
  .error {
    padding: 30px 0 80px;
  }
}

@media (min-width: 1025px) {
  .error {
    padding-top: 60px;
  }
}

.error__title {
  font-weight: inherit;
  font-size: 2.4rem;
  padding-bottom: 20px;
}

@media (min-width: 415px) {
  .error__title {
    margin: auto;
    font-size: 3rem;
    padding-bottom: 40px;
  }
}

.error h3 {
  font-weight: inherit;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

@media (min-width: 415px) {
  .error h3 {
    font-size: 2.4rem;
    padding-bottom: 20px;
  }
}

.error p {
  padding-bottom: 20px;
}

@media (min-width: 415px) {
  .error p {
    font-size: 1.6rem;
    padding-bottom: 40px;
  }
}

.back-to-top {
  margin: 0 auto;
}

.p-contact-area {
  width: 100%;
  margin: 0 auto;
  display: block;
  padding-bottom: 40px;
}

@media (min-width: 415px) {
  .p-contact-area {
    padding-bottom: 80px;
  }
}

@media (min-width: 1025px) {
  .p-contact-area {
    max-width: 816px;
    padding: 100px 0 80px 0;
  }
}

.p-contact-area dl {
  padding-bottom: 20px;
}

.p-contact-area dl dt {
  padding-bottom: 3px;
}

.p-contact-area dl dt label {
  font-size: 1.4rem;
}

@media (min-width: 415px) {
  .p-contact-area dl dt label {
    font-size: 2rem;
  }
}

.p-contact-area dl dd input,
.p-contact-area dl dd textarea {
  width: 100%;
  max-width: 350px;
  border: 1px solid #707070;
  border-radius: 5px;
}

.p-contact-area dl dd input[type=text],
.p-contact-area dl dd textarea[type=text] {
  height: 4rem;
  margin-bottom: 5px;
}

@media (min-width: 415px) {
  .p-contact-area dl dd input[type=text],
  .p-contact-area dl dd textarea[type=text] {
    height: 4rem;
    max-width: 420px;
  }
}

.p-contact-area dl dd textarea {
  height: 24.2rem;
}

@media (min-width: 415px) {
  .p-contact-area dl dd textarea {
    height: 24rem;
  }
}

.mandatory-tag,
.button {
  background: #FFD6DB;
  border-radius: 5px;
}

.mandatory-tag {
  font-size: 1.2rem;
  margin-left: 5px;
  padding: 1%;
}

@media (min-width: 415px) {
  .mandatory-tag {
    font-size: 1.5rem;
  }
}

.button {
  font-size: 1.4rem;
  border: none;
  padding: 2% 3%;
  display: inline-block;
}

@media (min-width: 415px) {
  .button {
    font-size: 2rem;
    padding: 1% 2.5%;
  }
}

@media (min-width: 1025px) {
  .p-side-navigation {
    max-width: 280px;
    height: auto;
    border: 1px solid #FFD6DB;
  }
}

.p-side-navigation__title {
  font-weight: normal;
  font-size: 2rem;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 415px) {
  .p-side-navigation__title {
    margin-top: 40px;
  }
}

@media (min-width: 1025px) {
  .p-side-navigation__title {
    padding-top: 10px;
    margin-top: 20px;
  }
}

.p-side-navigation__main-menu {
  list-style: none;
  padding: 0;
}

.p-side-navigation__main-menu__word {
  font-size: 1.2rem;
  margin: 0 0 3% 10%;
  position: relative;
}

@media (min-width: 415px) {
  .p-side-navigation__main-menu__word {
    margin: 0 0 2% 10%;
  }
}

@media (min-width: 1025px) {
  .p-side-navigation__main-menu__word {
    font-size: 1.5rem;
    margin: 0 0 8% 20%;
  }
}

.p-side-navigation__main-menu__word::before, .p-side-navigation__main-menu__word::after {
  height: 15px;
}

@media (min-width: 1025px) {
  .p-side-navigation__main-menu__word::before, .p-side-navigation__main-menu__word::after {
    height: 18px;
  }
}

.p-side-navigation__main-menu__word::before {
  left: -10px;
}

.p-side-navigation__main-menu__word::after {
  left: -6px;
}

.p-side-navigation__main-menu a {
  text-decoration: none;
  color: #030303;
}

.p-side-navigation__sns-menu {
  padding-left: inherit;
  display: none;
}

@media (min-width: 1025px) {
  .p-side-navigation__sns-menu {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 208px;
    padding: 5% 0 7%;
  }
}

.p-side-navigation__sns-menu .twitter,
.p-side-navigation__sns-menu .facebook,
.p-side-navigation__sns-menu .instagram {
  margin: 0 auto;
}

.p-side-navigation__sns-menu img {
  width: 45px;
  height: auto;
}

.p-post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posted {
  padding-bottom: 15px;
}

@media (min-width: 415px) {
  .posted {
    padding-bottom: 30px;
  }
}

.p-card {
  margin: auto;
}

.p-card__caption {
  padding: 15px 10px 10px;
}

@media (min-width: 415px) {
  .p-card__caption {
    padding-top: 30px;
  }
}

.p-card__caption__title {
  font-size: 1.6rem;
  font-weight: normal;
  position: relative;
  margin: auto;
}

@media (min-width: 415px) {
  .p-card__caption__title {
    font-size: 2.0rem;
  }
}

@media (min-width: 1025px) {
  .p-card__caption__title {
    font-size: 2.4rem;
  }
}

.p-card__caption__title::before, .p-card__caption__title::after {
  height: 16px;
  top: 4px;
}

@media (min-width: 415px) {
  .p-card__caption__title::before, .p-card__caption__title::after {
    height: 20px;
  }
}

@media (min-width: 1025px) {
  .p-card__caption__title::before, .p-card__caption__title::after {
    height: 25px;
  }
}

.p-card__caption__title::before {
  left: -10px;
}

.p-card__caption__title::after {
  left: -6px;
}

.p-card__img {
  width: 100%;
  height: auto;
}

.data {
  padding-top: 10px;
}

.time,
.category {
  font-size: 1.2rem;
  margin-right: 20px;
}

@media (min-width: 415px) {
  .time,
  .category {
    font-size: 1.5rem;
  }
}

.p-contact {
  padding-top: 20px;
  max-width: 350px;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 415px) {
  .p-contact {
    padding-top: 40px;
  }
}

@media (min-width: 415px) {
  .p-contact {
    width: 50%;
  }
}

@media (min-width: 415px) {
  .p-search {
    padding-top: 30px;
  }
}

@media (min-width: 1025px) {
  .p-search {
    padding-top: 100px;
  }
}

.p-search__results {
  font-size: 1.4rem;
}

@media (min-width: 415px) {
  .p-search__results {
    font-size: 1.6rem;
  }
}

.p-search__title {
  font-size: 1.8rem;
}

@media (min-width: 415px) {
  .p-search__title {
    font-size: 2.4rem;
  }
}

@media (min-width: 1025px) {
  .p-search__title {
    font-size: 2.6rem;
  }
}

.p-copyright {
  font-style: normal;
  text-align: center;
  padding: 20px 0 15px;
}

@media (min-width: 415px) {
  .p-copyright {
    padding: 20px 0;
  }
}

.p-footer__navigation {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-footer__navigation__menu {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 180px;
  max-width: 300px;
  height: 100%;
  margin: 0 auto;
}

@media (min-width: 415px) {
  .p-footer__navigation__menu {
    min-width: 400px;
    max-width: 800px;
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
}

.p-footer__navigation__menu li {
  text-align: center;
  height: 20px;
  margin: 1% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 415px) {
  .p-footer__navigation__menu li {
    margin: 1% 2%;
  }
}

.p-footer__navigation__menu li:nth-child(7) {
  white-space: nowrap;
}

.p-footer__navigation__menu li a {
  text-decoration: none;
  color: #030303;
  font-size: 1.4rem;
}

@media (min-width: 1025px) {
  .u-border-pc-none:last-child {
    border: 0;
  }
}
/*# sourceMappingURL=style.css.map */