.c-barline-border {
    border-radius: 9px;
    &::before, 
    &::after {
        position: absolute;
        content: '';
        width: 2px;
        background: #FEC1C8;
        border-radius: 9px;
    }
}