/*
!/wp-content/
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/rishry_media/
!/wp-content/themes/rishry_media/*
!/wp-content/themes/rishry_media/styleguide/
!/wp-content/themes/rishry_media/styleguide/*
!main.css
!/.github
*.map
.sql

!.gitignore
!/.circleci/
!/.circleci/config.yml
.htaccess
node_modules/
!/wp-content/themes/rishry_media/style.css
!editor-style.css
editor-style.css.map
!bundle.js
package-lock.json
wp-config.php
!readme.md
.vscode

#各プラグインは管理対象とするか確認してから含める。

/wp-content/plugins/*
#!/wp-content/plugins/


.DS_Store
Thumbs.db
