@use "foundation/mixin";
@use "foundation/variable";

.error {
    text-align: center;
    padding: 50px 0 40px;
    @include mixin.breakpoint ( tablet ) {
        padding: 30px 0 80px;
    }
    @include mixin.breakpoint ( pc ) {
        padding-top: 60px;
    }
    &__title {
        font-weight: inherit;
        font-size: 2.4rem;
        padding-bottom: 20px;
        @include mixin.breakpoint ( tablet ) {
            margin: auto;
            font-size: 3rem;
            padding-bottom: 40px;
        }
    }
    h3 {
        font-weight: inherit;
        font-size: 1.6rem;
        padding-bottom: 10px;
        @include mixin.breakpoint ( tablet ) {
            font-size: 2.4rem;
            padding-bottom: 20px;
        }
    }
    p {
        padding-bottom: 20px;
        @include mixin.breakpoint ( tablet ) {
            font-size: 1.6rem;
            padding-bottom: 40px;
        }
    }
}
.back-to-top {
    margin: 0 auto;
}
