@use "foundation/mixin";
@use "foundation/variable";

.p-card {
	margin: auto;
	&__caption {
		padding: 15px 10px 10px;
		@include mixin.breakpoint ( tablet ) {
			padding-top: 30px;
		}
		&__title {
			@include mixin.font-rem( 16 );
			position: relative;
			margin: auto;
			@include mixin.breakpoint ( tablet ) {
				@include mixin.font-rem( 20 );
			}
			@include mixin.breakpoint ( pc ) {
				@include mixin.font-rem( 24 );
			}
			&::before,
			&::after {
				height: 16px;
				top: 4px;
				@include mixin.breakpoint ( tablet ) {
					height: 20px;
				}
				@include mixin.breakpoint ( pc ) {
					height: 25px;
				}
			}
			&::before {
				left: -10px;
			}
			&::after {
				left: -6px;
			}
		}
	}
	&__img {
		width: 100%;
		height: auto;
	}
	&--entry {
		padding-left: 20px;
		&__title {
			position: relative;
			&::before,
			&::after {
				height: 30px;
				bottom: 5px;
			}
			&::before {
				left: -20px;
			}
			&::after {
				left: -15px;
			}
		}
		&__data {
			padding: 10px 0 0 0;
		}
	}
	&--connection {
		display: flex;
		flex-wrap: nowrap;
		height: 100%;
		&__img {
			width: 30%;
			object-fit: cover;
		}
		&__caption {
			margin-left: 10px;
			@include mixin.breakpoint ( tablet ) {
				margin-left: 20px;
			}
			&__title {
				@include mixin.font-rem( 12 );
				@include mixin.breakpoint ( tablet ) {
					@include mixin.font-rem( 15 );
				}
			}
		}
	}
}

.c-text--gray,
.c-text--pink {
	margin-right: 20px;
}

.c-text--gray-small,
.c-text--pink-small {
	margin-right: 10px;
}


