@use "foundation/mixin";
@use "foundation/variable";

.p-card {
	margin: auto;
	&__caption {
		padding: 15px 10px 10px;
		@include mixin.breakpoint ( tablet ) {
			padding-top: 30px;
		}
		&__title {
			font-size: 1.6rem;
			// font-weight: normal;
			position: relative;
			margin: auto;
			@include mixin.breakpoint ( tablet ) {
				font-size: 2.0rem;
			}
			@include mixin.breakpoint ( pc ) {
				font-size: 2.4rem;
			}
			&::before,
			&::after {
				height: 16px;
				top: 4px;
				@include mixin.breakpoint ( tablet ) {
					height: 20px;
				}
				@include mixin.breakpoint ( pc ) {
					height: 25px;
				}
			}
			&::before {
				left: -10px;
			}
			&::after {
				left: -6px;
			}
		}
	}
	&__img {
		width: 100%;
		height: auto;
	}
	&--entry {
		padding-left: 20px;
		&__title {
			position: relative;
			&::before,
			&::after {
				height: 30px;
				bottom: 5px;
			}
			&::before {
				left: -20px;
			}
			&::after {
				left: -15px;
			}
		}
	}
}


