@use "foundation/mixin";
@use "foundation/variable";

.p-copyright {
    font-style: normal;
    text-align: center;
    padding: 20px 0 15px;
    @include mixin.breakpoint ( tablet ) {
        padding: 20px 0;
    }
}