@use "foundation/mixin";
@use "foundation/variable";

.p-inside {
	&__head {
		position: relative;
		padding-left: 10px;
		&::before {
			height: 30px;
			left: 0;
			@include mixin.breakpoint ( pc ) {
				bottom: 5px;
			}
		}
	}
	&__tag {
		&__link {
			margin-right: 10px;
			@include mixin.breakpoint ( tablet ) {
				margin-right: 20px;
			}
		}
	}
}
