@use "foundation/mixin";
@use "foundation/variable";

.p-search {
	padding: 20px 0;
	margin: 0 auto;
	width: 93%;
	@include mixin.breakpoint ( pc ) {
		display: none;
	}
	&__results {
		font-size: 1.4rem;
		@include mixin.breakpoint ( tablet ) {
			font-size: 1.6rem;
		}
	}
}
