@use "foundation/mixin";
@use "foundation/variable";

.p-share {
    margin: 0 auto;
    &__title {
		font-size: 2rem;
		color: variable.$font-color--gray;
		width: 100px;
		margin: 0 auto;
		position: relative;
		&::before,
		&::after {
			position: absolute;
			width: 13.75px;
			height: 24.91px;
			background-size: contain;
			background-repeat: no-repeat;
			bottom: 8px;
		}
		&::before {
			content: url( ../images/parts/border-left.svg );
			left: -28px;
		}
		&::after {
			content: url( ../images/parts/border-right.svg );
			right: 0;
		}
    }
    &__sns {
        padding-left: inherit;
        display: flex;
    }
}
