@use "foundation/mixin";
@use "foundation/variable";

.p-share {
	margin: 0 auto;
	&__title {
		@include mixin.font-rem( 20 );
		color: variable.$font-color--gray;
		width: 100px;
		margin: 0 auto;
		text-align: center;
		position: relative;
		&::before,
		&::after {
			position: absolute;
			width: 13.75px;
			height: 24.91px;
			background-size: contain;
			background-repeat: no-repeat;
			bottom: 8px;
		}
		&::before {
			content: url( ../images/parts/border-left.svg );
			left: -10px;
		}
		&::after {
			content: url( ../images/parts/border-right.svg );
			right: -5px;
		}
	}
	&__sns {
		padding-left: inherit;
		display: flex;
		justify-content: center;
		&__list {
			padding: 0 20px;
		}
	}
}
