@use "foundation/mixin";
@use "foundation/variable";

.c-barline-border {
    &::before, 
    &::after {
        position: absolute;
        content: '';
        width: 2px;
        background: #FEC1C8;
        border-radius: 9px;
    }
}