@use "foundation/mixin";
@use "foundation/variable";

.c-barline-border {
	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 2px;
		background: variable.$border-color--pink;
		border-radius: 9px;
	}
}
