@use "foundation/mixin";
@use "foundation/variable";

.c-headline-border {
	&::before,
	&::after {
		content: '';
		flex-basis: 18px;
		height: 3px;
		background: variable.$border-color--pink;
		border-radius: 9px;
		@include mixin.breakpoint ( tablet ) {
			flex-basis: 20px;
		}
	}
	&::before {
		margin-right: 3px;
	}
	&::after {
		margin-left: 2px;
	}
}
