@use "foundation/mixin";
@use "foundation/variable";

.c-img {
	&--logo {
		max-width: 110px;
		@include mixin.breakpoint ( pc ) {
			max-width: 150px;
			height: auto;
		}
	}
	&--sns {
		width: 30px;
		height: 30px;
		@include mixin.breakpoint ( tablet ) {
			width: 50px;
			height: 50px;
		}
	}
}
