@use "foundation/mixin";
@use "foundation/variable";

.c-pagination {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 12px 40px;
    @include mixin.breakpoint ( tablet ) {
        padding: 10px 20px 80px;
    }
    @include mixin.breakpoint ( pc ) {
        padding: 40px 0 80px;
    }
    &__list {
        list-style: none;
        a {
            color: #030303;
            text-decoration: none;
            font-size: 1.5rem;
        }
        &__before-to,
        &__page-active,
        &__page,
        &__extend,
        &__next-for {
            margin: 0 5px;
            @include mixin.breakpoint ( tablet ) {
                margin: 0 4px;
            }
            @include mixin.breakpoint ( pc ) {
                margin: 0 6px;
            }
        }
        &__page-active,
        &__page {
            padding: 12px 15px;
        }
        &__page-active {
            background: #FFD6DB;
            border: solid 1px #FFD6DB;
        }
        &__before-to,
        &__page,
        &__next-for {
            border: solid 1px #656565;
        }
        &__before-to,
        &__next-for {
            padding: 12px;
            position: relative;
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 25px;
                height: 1px;
                background: #656565;
            }
            &::before {
                top: 9px;
            }
            &::after {
                top: 29px;
            }
        }
        &__before-to {
            border-left: none;
            padding-left: 10px;
            &::before,
            &::after {
                left: -20px;
            }
            &::before {
                transform: rotate( -55deg );
            }
            &::after {
                transform: rotate( 55deg );
            }
        }
        &__next-for {
            border-right: none;
            padding-right: 10px;
            &::before,
            &::after {
                right: -20px;
            }
            &::before {
                transform: rotate( 55deg );
            }
            &::after {
                transform: rotate( -55deg );
            }
        }
    }
}

