@use "foundation/mixin";
@use "foundation/variable";

.c-parallel {
	&--sns {
		display: none;
		@include mixin.breakpoint ( pc ) {
			display: flex;
			justify-content: center;
			gap: 20px;
			max-width: 208px;
		}
		&__item {
			display: block;
		}
	}
}
