@use "foundation/mixin";
@use "foundation/variable";

.c-time-category-chunk {
    display: flex;
    padding: 0;
}
.time,
.category {
    list-style: none;
}
.time {
    color: variable.$font-color--gray;
}
.category {
    color: variable.$font-color--pink;
    font-weight: bold;
}
