@use "foundation/mixin";
@use "foundation/variable";

.c-title {
	font-weight: normal;
	@include mixin.font-rem( 24 );
	display: flex;
	align-items: center;
	justify-content: center;
	@include mixin.breakpoint ( tablet ) {
		@include mixin.font-rem( 26 );
	}
	@include mixin.breakpoint ( pc ) {
		@include mixin.font-rem( 30 );
		margin: 0;
	}
	&--sub {
		@include mixin.font-rem( 12 );
	}
	&--side {
		@include mixin.font-rem( 20 );
	}
}
