@use "foundation/mixin";
@use "foundation/variable";

.c-title {
    font-weight: normal;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mixin.breakpoint ( tablet ) {
         font-size: 2.6rem;
    }
    @include mixin.breakpoint ( pc ) {
        font-size: 3.0rem;
        margin: 0;
    }
}