@use "foundation/mixin";
@use "foundation/variable";

.l-header {
	width: 100%;
	height: 60px;
	background: variable.$bgcolor--pink;
	@include mixin.breakpoint ( pc ) {
		height: 130px;
	}
	&__catchphrase {
		display: none;
		@include mixin.breakpoint ( pc ) {
			display: block;
			font-size: variable.$font-size--header--catchphrase--pc;
			padding: 14px 10px;
			margin: 0 auto;
			max-width: 1140px;
		}
	}
}

