@use "foundation/mixin";
@use "foundation/variable";

.l-sidebar {
	width: 100vw;
	margin: 0 calc( 50% - 50vw );
	overflow: hidden;
	padding-top: 20px;
	@include mixin.breakpoint ( tablet ) {
		padding-bottom: 1%;
	}
	@include mixin.breakpoint ( pc ) {
		width: calc( 30% - 30px );
		margin-left: 30px;
		max-width: 280px;
		padding-top: 60px;
	}
}

