.p-post-list {
    list-style: none;
    margin: 0;
    padding: 0;
    &__posted { 
        padding-bottom: 15px;
        @include breakpoint ( tablet ) {
            padding-bottom: 30px;
        }
    }
}