@use "../../foundation/global" as g;

.error {
	text-align: center;
	padding: 50px 0 40px;
	@include g.breakpoint ( pc ) {
		padding-top: 60px;
	}
	@media ( max-width: 782px ) {
		padding-bottom: 80px;
	}
	@include g.breakpoint ( sp ) {
		padding-bottom: 40px;
	}
	&__title {
		font-weight: inherit;
		font-size: 30px;
		padding-bottom: 20px;
		@include g.breakpoint ( sp ) {
			margin: 0;
			font-size: 24px;
			padding-bottom: 0;
		}
	}
	h3 {
		font-weight: inherit;
		font-size: 24px;
		@include g.breakpoint ( sp ) {
			font-size: 16px;
			padding-bottom: 0;
		}
	}
	p {
		padding-bottom: 20px;
		@include g.breakpoint ( sp ) {
			font-size: 10px;
			padding-bottom: 0;
		}
	}
}
.back-to-top {
	margin: 0 auto;
}
