@use "../../foundation/global" as g;

.p-card {
	overflow: hidden;
	&__caption {
		padding: 15px 10px 10px;
		@include g.breakpoint ( tablet ) {
			padding-top: 31px;
		}
		@include g.breakpoint ( pc ) {
			padding-top: 20px;
		}
		&__title {
			@include g.font-rem( $font-size--title--pc );
			font-weight: normal;
			position: relative;
			max-width: 550px;
			margin: 0;
			word-wrap: break-word;
			@media ( max-width: 782px ) {
				@include g.font-rem( $font-size--title--tab );
				max-width: 460px;
			}
			@include g.breakpoint ( sp ) {
				@include g.font-rem( $font-size--title--sp );
				max-width: inherit;
			}
			&::before,
			&::after {
				height: 16px;
				top: 4px;
				@include g.breakpoint ( tablet ) {
					height: 20px;
				}
				@include g.breakpoint ( pc ) {
					height: 25px;
				}
			}
			&::before {
				left: -10px;
			}
			&::after {
				left: -6px;
			}
			&__search {
				@extend .p-card__caption__title;
				font-size: 26px;
				@include g.breakpoint ( sp ) {
					font-size: 18px;
				}
			}
			&__archive {
				@extend .p-card__caption__title;
				font-size: 26px;
				@include g.breakpoint ( sp ) {
					font-size: 18px;
				}
			}
		}
	}
	&__img {
		width: 100vw;
		height: auto;
		transition: transform .6s ease;
		&:hover {
			transform: scale(1.1);
		}
		&--single {
			width: 100%;
			height: auto;
		}
	}
	&__mask {
		display: block;
		line-height: 0;
		overflow: hidden;
	}
}

.p-card.c-boundary-line {
	margin-top: 31px;
	&:first-of-type {
		border: 0;
		margin: 0;
		padding: 0;
	}
}

.data {
	padding-top: 10px;
	margin-left: 0;
}
.time,
.category {
	margin-right: 20px;
	@include g.breakpoint ( tablet ) {
		font-size: 15px;
	}
	@include g.breakpoint ( sp ) {
		font-size: 12px;
	}
	@media ( max-width: 385px ) {
		margin-right: 5px;
	}
}
