@use "../../foundation/global" as g;

.p-detail {
	@include g.breakpoint ( pc ) {
		padding-top: 70px;
	}
	@media ( max-width: 1024px ) {
		padding-top: 25px;
	}
	@include g.breakpoint ( sp ) {
		padding-top: 16px;
	}
	&__search {
		@include g.breakpoint ( tablet ) {
			padding-top: 30px;
		}
		@include g.breakpoint ( pc ) {
			padding-top: 48px;
		}
		&__results {
			@include g.font-rem( $font-size--search--sp );
			@include g.breakpoint ( tablet ) {
				@include g.font-rem( $font-size--search--pc );
			}
			@include g.breakpoint ( sp ) {
				font-size: 14px;
			}
		}
		.not-entered {
			margin-bottom: 15rem;
		}
	}
	.c-headline-border {
		@media ( max-width: 782px ) {
			margin-bottom: 15px;
		}
	}
	.c-entry-title {
		@include g.font-rem( $font-size--title--single--pc );
		@media ( max-width: 782px ) {
			@include g.font-rem( $font-size--title--single--tab );
		}
		@include g.breakpoint ( sp ) {
			@include g.font-rem( $font-size--title--single--sp );
			margin-left: 10px;
		}
	}
	.p-entry-content {
		h1, h2, h3, h4, h5 {
			font-weight: bold;
		}
		> ul {
			margin-left: 40px;
		}
		li {
			list-style: inherit;
			margin: 5px 0;
		}
		a {
			color: #0D7CBA;
			code {
				border-bottom: 1px solid #0D7CBA;
			}
		}
		dd {
			margin-left: 30px;
		}
		address {
			line-height: 40px;
		}
		.wp-caption {
			width: auto;
			max-width: 100%;
		}
		iframe {
			@include g.breakpoint ( sp ) {
				width: 100%;
			}
		}
		.p-entry-tag {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			margin-top: 60px;
			margin-bottom: 25px;
			margin-left: inherit;
			list-style: none;
			li {
				font-size: 20px;
				color: g.$font-color--gray;
				@media ( max-width: 782px ) {
					font-size: 12px;
				}
				@include g.breakpoint ( sp ) {
					font-size: 10px;
				}
				> a {
					color: g.$font-color--gray;
				}
			}
		}
		.wp-block-heading {
			@extend .p-card__caption__title;
			@extend .c-barline-border;
			margin: 5% 0;
			@include g.font-rem( $font-size--head--pc );
			@media ( (min-width: 600px) and (max-width: 782px) ) {
				@include g.font-rem( $font-size--head--tab );
			}
		}
		.p-share__title {
			margin: 0 auto;
		}
		.more-link:first-child {
			display: none;
		}
	}
	.p-entry-content__about {
		@extend .p-entry-content;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media ( max-width: 350px ) {
			width: 60vw;
		}
	}
	.p-entry-content__privacy {
		@extend .p-entry-content;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.p-related {
		.p-related__title {
			font-size: 18px;
			margin: 5% 0;
		}
		.p-related-card {
			&__caption {
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-end;
				.c-time-category-chunk {
					display: flex;
					height: fit-content;
					width: 40vw;
					margin-bottom: 5%;
					@media ( max-width: 782px ) {
						width: 50vw;
					}
				}
				&__data {
					.time,
					.category {
						font-size: 10px;
					}
					.category:last-of-type {
						display: contents;
					}
				}
				a {
					min-width: 150px;
					margin-bottom: 20px;
					@media ( max-width: 1024px ) {
						width: 42%;
						min-width: 30%;
					}
					@media ( max-width: 320px ) {
						width: 35%;
					}
				}
				&__title {
					width: 32vw;
					font-size: 15px;
					margin-top: -10px;
					overflow-wrap: anywhere;
					@media ( max-width: 782px ) {
						width: 50vw;
					}
					@include g.breakpoint ( sp ) {
						font-size: 12px;
						width: 100%;
					}
					@media ( max-width: 385px ) {
						width: 100%;
						font-size: 10px;
					}
				}
			}
			img {
				width: 100vw;
				height: auto;
				transition: transform .6s ease;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
	> img {
		width: 100%;
		margin-bottom: 7%;
	}
	p {
		margin: 15px 0;
		word-wrap: break-word;
	}
}

.p-detail__about {
	@extend .p-detail;
		width: 58vw;
		margin-right: 20px;
		margin-left: 20px;
		@media ( min-width: 1600px ) {
			margin: 0;
		}
		@media ( max-width: 414px ) {
			margin-right: 10px;
			margin-left: 10px;
		}
	> img {
		margin: 0;
	}
	.p-entry-content > .wp-block-heading {
		font-size: 24px;
		@media ( max-width: 782px ) {
			font-size: 20px;
		}
		@include g.breakpoint ( sp ) {
			font-size: 16px;
		}
	}
	&--privacy {
		@extend .p-detail__about;
		width: 50vw;
		@media ( min-width: 1600px ) {
			max-width: 816px;
			padding-right: 5%;
		}
		@media ( max-width: 1024px ) {
			width: inherit;
		}
	}
}
