@use "../../foundation/global" as g;

.p-detail {
	@include g.breakpoint ( pc ) {
		padding-top: 70px;
	}
	@media ( max-width: 1024px ) {
		padding-top: 25px;
	}
	@media ( max-width: 599px ) {
		padding-top: 16px;
	}
	&__search {
		@include g.breakpoint ( tablet ) {
			padding-top: 30px;
		}
		@include g.breakpoint ( pc ) {
			padding-top: 48px;
		}
		&__results {
			@include g.font-rem( $font-size--search--sp );
			@include g.breakpoint ( tablet ) {
				@include g.font-rem( $font-size--search--pc );
			}
			@media ( max-width: 599px ) {
				font-size: 14px;
			}
		}
		.not-entered {
			margin-bottom: 15rem;
		}
	}
	.c-headline-border {
		@media ( max-width: 782px ) {
			margin-bottom: 15px;
		}
	}
	.c-entry-title {
		@include g.font-rem($font-size--title--single--pc);
		@media ( max-width: 782px ) {
			@include g.font-rem($font-size--title--single--tab);
		}
	}
	.p-entry-content {
		> p {
			margin-bottom: 8%;
		}
		.p-entry-tag {
			display: flex;
			gap: 20px;
			margin-bottom: 25px;
			li {
				font-size: 20px;
				color: g.$font-color--gray;
				@media ( max-width: 782px ) {
					font-size: 12px;
				}
				@media ( max-width: 599px ) {
					font-size: 10px;
				}
			}
		}
		.wp-block-heading {
			@extend .p-card__caption__title;
			@extend .c-barline-border;
			margin: 5% 0;
			@include g.font-rem( $font-size--head--pc );
			@media ( (min-width: 600px) and (max-width: 782px) ) {
				@include g.font-rem( $font-size--head--tab );
			}
		}
	}
}
