@use "../../foundation/global" as g;

.p-inside {
	&__head {
		position: relative;
		padding-left: 10px;
		&::before {
			height: 30px;
			left: 0;
			@include g.breakpoint ( pc ) {
				bottom: 5px;
			}
		}
	}
}
