@use "../../foundation/global" as g;

.p-link {
	&--page {
		padding-left: 0;
		display: flex;
		flex-direction: column;
		@include g.breakpoint ( tablet ) {
			display: block;
			overflow: hidden;
			position: relative;
		}
		&__btn {
			margin: 0 auto;
			width: 100%;
			max-width: 320px;
			height: 60px;
			border: solid 1px g.$border-color--dark--gray;
			transition: 0.5s;
			@include g.breakpoint ( tablet ) {
				width: 48%;
				min-width: 160px;
				float: left;
			}
			&:first-child {
				margin-bottom: 20px;
				@include g.breakpoint ( tablet ) {
					left: 0;
					// margin: 0 20px 0 0;
				}
			}
			&:last-child {
				@include g.breakpoint ( tablet ) {
					position: absolute;
					right: 0;
				}
			}
			&:hover {
				opacity: 0.5;
			}
			&__prev,
			&__next {
				color: g.$font-color--default;
				display: block;
				line-height: 60px;
			}
			&__prev {
				padding-left: 20px;
			}
			&__next {
				padding-right: 20px;
				text-align: right;
			}
		}
	}
	&--list {
		// padding-left: 0;
		display: flex;
		justify-content: center;
		margin-bottom: 12px;
		&__sns {
			margin: 0 10px;
		}
	}
}
