@use "../../foundation/global" as g;

.p-mainvisual {
	width: 100%;
	img {
		max-width: 100%;
		@include g.breakpoint ( pc ) {
			width: 100%;
			margin-top: 46px;
		}
		@media ( max-width: 1024px ) {
			margin-top: 8.5px;
		}
		@media ( max-width: 599px ) {
			margin-top: 1.5px;
		}
	}
}
