@use "../../foundation/global" as g;

.p-parallel {
	&--head {
		display: none;
		@include g.breakpoint ( pc ) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__search {
			visibility: collapse;
			@include g.breakpoint ( pc ) {
				visibility: visible;
				width: 300px;
			}
		}
	}

	a {
		margin-right: 10px;
		@include g.breakpoint ( tablet ) {
			margin-right: 20px;
		}
	}
	&--data {
		display: flex;
		padding: 10px 0 0 0;
		&__text,
		&__text-bold {
			list-style: none;
			@include g.font-rem( 12 );
			margin-right: 20px;
			@include g.breakpoint ( tablet ) {
				@include g.font-rem( 15 );
		 	}
			&--relation {
				list-style: none;
				@include g.font-rem( 10 );
				margin-right: 10px;
			}
		}
	}
	&--card {
		display: flex;
		flex-wrap: nowrap;
		height: 100%;
		&__img {
			width: 30%;
			object-fit: cover;
		}
		&__caption {
			margin-left: 10px;
			@include g.breakpoint ( tablet ) {
				margin-left: 20px;
			}
			&__title {
				@include g.font-rem( 12 );
				@include g.breakpoint ( tablet ) {
					@include g.font-rem( 15 );
				}
			}
		}
	}
}
