@use "../../foundation/global" as g;

.p-post-list {
	list-style: none;
	margin: 0;
	padding: 0;
	&__posted {
		.search_result {
			margin-top: 1rem;
			margin-bottom: 15rem;
		}
		article:first-child > figure {
			border: 0;
		}
		> figure:first-child {
			border: 0;
		}
	}
}
