.p-card {
    &__caption {

        &__title {
            font-size: 1.6rem;
            font-weight: normal;
            position: relative;
            @include breakpoint ( tablet ) {
                font-size: 2.0rem;
            }
            @include breakpoint ( pc ) {
                font-size: 2.4rem;
            }
            &::before,
            &::after {
                height: 16px;
                top: 4px;
                @include breakpoint ( tablet ) {
                    height: 20px;
                }
                @include breakpoint ( pc ) {
                    height: 25px;
                }
            }
            &::before {
                left: -10px;
            }
            &::after {
                left: -6px;
            }
        }
    }
}
.data {
    margin-bottom: 10px;
}
