.contact {
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    padding: 30px 0 40px 0;
    // position: relative;
    // background: #ffffe0;
    @include breakpoint ( tablet ) {
        max-width: 450px;
        padding-bottom: 80px;
    }
    @include breakpoint ( pc ) {
        max-width: 816px;
        padding: 100px 0 80px 0;
    }
}

.form_box {
    padding-top: 20px;
    @include breakpoint ( pc ) {
        padding-top: 40px;
    }
    form {
        width: 90%;
        margin: 0 auto;
        @include breakpoint ( pc ) {
            width: 50%;
        }
        div {
            margin-bottom: 10px;
            label {
                display: block;
                font-size: 14px;
                @include breakpoint ( tablet ) {
                    font-size: 16px;
                    margin-bottom: 4px;
                }
                &[for="message"] {
                    margin-bottom: 5px;
                }
            }
            input {
                &[type="text"] {
                    width: 100%;
                    height: 1.25rem;
                    max-width: 350px;
                    border: 1px solid #707070;
                    border-radius: 5px;
                    margin-bottom: 5px;
                    @include breakpoint ( tablet ) {
                        height: 2rem;
                        max-width: 420px;
                    }
                    // @include breakpoint ( pc ) {
                        //     height: 2rem;
                        // }
                    }
                }
                textarea {
                    width: 100%;
                    max-width: 350px;
                    height: 15rem;
                    border: 1px solid #707070;
                    border-radius: 5px;
                    margin-bottom: 5px;
                    @include breakpoint ( tablet ) {
                        max-width: 420px;
                    }
                }
            }
            input {
                &[type="submit"] {
                    border: none;
                }
            }
        }
    }


.mandatory-tag {
    font-size: 1.2rem;
    margin-left: 5px;
    background: #FFD6DB;
    border-radius: 5px;
    padding: 1%;
    display: inline-block;
    @include breakpoint ( tablet ) {
        font-size: 1.4rem;
    }
}
.button {
    font-size: 1.4rem;
    background: #FFD6DB;
    border-radius: 5px;
    padding: 1%;
    display: inline-block;
    @include breakpoint ( tablet ) {
        font-size: 2rem;
        padding: 1% 2.5%;
    }
}