.p-head-nav-flex {
    @include breakpoint ( pc ) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__search {
        visibility: collapse;
        @include breakpoint ( pc ) {
            visibility: visible;
            width: 300px;
        }
    }
}