.p-head-pc {
    &__navigation {
        @include breakpoint ( pc ) {
        }
    }
    &__search {
        visibility: hidden;
        @include breakpoint ( pc ) {
            visibility: visible;
        }
    }
}
.logo {
    // margin: 0 auto;
    max-width: 110px;
    height: auto;
}