.p-head {
    &__inner {
        &__search {
            visibility: collapse;
            @include breakpoint ( tablet ) {
                visibility: visible;
            }
        }
    }
}
.logo {
    margin: 0 auto;
    max-width: 110px;
    height: auto;
}