.p-head-pc {
    &__inner {
        @include breakpoint ( pc ) {
            // visibility: visible;
        }
        &__search {
            visibility: collapse;
            @include breakpoint ( pc ) {
                visibility: visible;
            }
        }
    }
}
.logo {
    margin: 0 auto;
    max-width: 110px;
    height: auto;
}