.l-container {
    margin: 0 auto;
    // max-width: 390px;
    max-width: 414px;
    padding: 0 12px;
    @include breakpoint ( tablet ) {
        // max-width: 984px;
        max-width: 1024px;
        padding: 0 20px;
    }
    @include breakpoint ( pc ) {
        max-width: 1280px;
        display: flex;
        flex-wrap: wrap;
    }
}