.l-header {
    width: 100%;
    height: 60px;
    background: #FFEDEE;
    // position: fixed;
    // margin-bottom: 30px;
    @include breakpoint ( tablet ) {
        height: 130px;
    }
    @include breakpoint ( pc ) {
        
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
}

