.l-header {
    width: 100%;
    height: 60px;
    background: #FFEDEE;
    @include breakpoint ( pc ) {
        height: 130px;
    }
    &__lead {
        display: none;
        @include breakpoint ( pc ) {
            display: block;
            font-size: 1.2rem;
            padding: 14px 10px;
            margin: 0 auto;
            max-width: 1200px;
        }
    }
}

