@use "../foundation/global" as g;

.l-contents {
	margin: 0 auto;
	min-width: 261px;
	@media ( max-width: 414px ) {
		max-width: 360px;
	}
	@media ( max-width: 385px ) {
		max-width: 320px;
	}
	@include g.breakpoint ( tablet ) {
		max-width: 984px;
		padding: 0 20px;
	}
	@include g.breakpoint ( pc ) {
		padding: 0 60px;
		min-width: 905px;
		max-width: 1160px;
		display: flex;
		flex-wrap: wrap;
		@media ( min-width: 1600px ) {
			padding: 0;
		}
	}
}
.l-contents--privacy {
	@extend .l-contents;
	@include g.breakpoint ( pc ) {
		justify-content: space-evenly;
	}
	@media ( min-width: 1600px ) {
		justify-content: inherit;
	}
}
