@use "../foundation/global" as g;

.l-main {
	margin: 0 auto;
	min-width: 261px;
	max-width: 360px;
	@include g.breakpoint ( tablet ) {
		max-width: 984px;
		padding: 0 20px;
	}
	@include g.breakpoint ( pc ) {
		padding: 0 60px;
		min-width: 905px;
		max-width: 1160px;
		display: flex;
		flex-wrap: wrap;
	}
}
