.c-pagination {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 12px 40px;
    @include breakpoint ( tablet ) {
        padding: 10px 20px 80px;
    }
    @include breakpoint ( pc ) {
        padding: 40px 0 80px;
    }
}
.page-list {
    list-style: none;
    a {
        color: #030303;
        text-decoration: none;
        font-size: 1.5rem;
    }
}
.before-to,
.page-active,
.page,
.extend,
.next-for {
    margin: 0 5px;
    @include breakpoint ( tablet ) {
        margin: 0 4px;
    }
    @include breakpoint ( pc ) {
        margin: 0 6px;
    }
}
.page-active,
.page {
    padding: 12px 15px;
}
.page-active {
    background: #FFD6DB;
    border: solid 1px #FFD6DB;
}
.before-to,
.page,
.next-for {
    border: solid 1px #656565;
}
.before-to,
.next-for {
    padding: 12px;
    position: relative;
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 1px;
        background: #656565;
    }
    &::before {
        top: 9px;
    }
    &::after {
        top: 29px;
    }
}
.before-to {
    border-left: none;
    padding-left: 10px;
    &::before,
    &::after {
        left: -20px;
    }
    &::before {
        transform: rotate( -55deg );
    }
    &::after {
        transform: rotate( 55deg );
    }
}
.next-for {
    border-right: none;
    padding-right: 10px;
    &::before,
    &::after {
        right: -20px;
    }
    &::before {
        transform: rotate( 55deg );
    }
    &::after {
        transform: rotate( -55deg );
    }
}

