@use "../../foundation/global" as g;

.c-barline-border {
	@include g.font-rem( $font-size--base );
	margin-top: 7%;
	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 2px;
		background: g.$border-color--pink;
		border-radius: 9px;
	}
}
