@use "../../foundation/global" as g;

.c-breadcrumb-list {
	padding: 0;
	display: flex;
	align-items: center;
	li {
		color: g.$font-color--default;
		list-style: none;
		@media ( max-width: 599px ) {
			font-size: 14px;
		}
		a {
			font-size: 16px;
			text-decoration: none;
			@media ( max-width: 599px ) {
				font-size: 14px;
			}
		}
	}
}
