@use "../../foundation/global" as g;

.c-btn {
	font-size: 20px;
	text-decoration: none;
	color: #444;
	background: #FFD6DB;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 75%;
	height: 46px;
	border-radius: 5px;
	@media ( (min-width: 782px) and ( max-width: 1024px ) ) {
		width: 60%;
		max-width: 550px;
	}
	@include g.breakpoint ( sp ) {
		width: 50%;
		min-width: 250px;
		height: 26px;
		font-size: 10px;
	}
}
