@use "../../foundation/global" as g;

.c-pagination {
	padding: 20px 12px 40px;
	@include g.breakpoint ( tablet ) {
		padding: 10px 20px 80px;
	}
	@include g.breakpoint ( pc ) {
		padding: 40px 0 80px;
	}
	@media ( max-width: 1024px ) {
		padding-top: 27px;
	}
	@media ( max-width: 599px ) {
		padding-top: 80px;
		padding-bottom: 40px;
	}
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		flex-wrap: wrap;
		a {
			color: #030303;
			text-decoration: none;
			font-size: 15px;
		}
		.prev,
		.current,
		.page-numbers,
		&__extend,
		.next {
			margin: 0 5px;
			@include g.breakpoint ( tablet ) {
				margin: 0 4px;
			}
			@include g.breakpoint ( pc ) {
				margin: 0 6px;
			}
		}
		.current,
		.page-numbers {
			padding: 12px 18px;
		}
		.prev,
		.page-numbers,
		.next {
			border: solid 1px #656565;
		}
		.current {
			background: #FFD6DB;
			border: solid 1px #FFD6DB;
			font-size: 15px;
		}
		.prev,
		.next {
			padding: 12px;
			position: relative;
			&::before,
			&::after {
				content: "";
				width: 30px;
				position: absolute;
				height: 1px;
				background: #656565;
			}
			&::before {
				top: 11px;
			}
			&::after {
				top: 35px;
			}
		}
		.prev {
			border-left: none;
			padding-left: 10px;
			&::before,
			&::after {
				left: -24px;
			}
			&::before {
				transform: rotate( -54deg );
			}
			&::after {
				transform: rotate( 52deg );
			}
		}
		.next {
			border-right: none;
			padding-right: 10px;
			&::before,
			&::after {
				right: -23px;
			}
			&::before {
				transform: rotate( 55deg );
			}
			&::after {
				transform: rotate( -55deg );
			}
		}
		.page-numbers.dots {
			border: none;
			font-size: 25px;
		}
		.page-numbers:not(.prev):not(.next):not(.current) {
			@media ( max-width: 1024px ) {
				display: none;
			}
		}
	}
}
