@use "../../foundation/global" as g;

.c-search-window {
	@include g.breakpoint ( pc ) {
		display: flex;
		justify-content: space-around;
		width: 249.87px;
		height: 40px;
		background: #fff;
		border: solid 1px #aaa;
		border-radius: 5px;
	}
	&__button {
		height: auto;
		background: none;
		border: none;
	}
	&__img {
		width: 15px;
		height: auto;
	}
}
input[ type="text" ] {
	@include g.font-rem( 14 );
	background: none;
	border: none;
	width: 90%;
	padding-left: 16px;
	@include g.breakpoint ( pc ) {
		padding-left: 10px;
	}
}
