@use "../../foundation/global" as g;

.c-search-window {
	@media ( min-width: 320px ) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2% 0 10%;
        height: -webkit-fill-available;
    }
	@media ( max-width: 599px ) {
		margin-left: 0;
	}

	@include g.breakpoint ( pc ) {
		display: flex;
		justify-content: space-around;
		width: 249.87px;
		height: 40px;
		background: #fff;
		border: solid 1px #aaa;
		border-radius: 5px;
	}
	&__button {
		height: auto;
		background: none;
		border: none;
	}
	&__img {
		width: 15px;
		height: auto;
	}
}
input[ type="text" ] {
	@include g.font-rem( 14 );
	background: none;
	border: none;
	width: 90%;
	height: 100%;
	padding-left: 16px;
	&::placeholder{
		color: g.$font-color--default;
	}
	// Firefox
	&::-moz-placeholder {
		color: g.$font-color--default;
		opacity: 1;
	}

	@media ( max-width: 730px ) {
		@include g.font-rem( 12 )
	}

	@media ( max-width: 599px ) {
		@include g.font-rem( 14 )
	}

	@include g.breakpoint ( pc ) {
		padding-left: 10px;
	}
}
