@use "../../foundation/global" as g;

.c-search-window {
	@media ( min-width: 320px ) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2% 0 10%;
        height: -webkit-fill-available;
    }
	@include g.breakpoint ( sp ) {
		margin-left: 0;
	}

	@include g.breakpoint ( pc ) {
		display: flex;
		justify-content: space-around;
		width: 249.87px;
		height: 40px;
		background: #fff;
		border: solid 1px #aaa;
		border-radius: 5px;
		&:focus-within {
			outline: 2px solid #6fb5ff;
		}
	}
	&__button {
		height: auto;
		background: none;
		border: none;
	}
	&__img {
		width: 15px;
		height: auto;
	}
	input[ type="text" ] {
		@include g.font-rem( 14 );
		background: none;
		border: none;
		width: 90%;
		height: 100%;
		padding-left: 16px;
		outline: none;
		&::placeholder{
			color: g.$font-color--default;
		}
		&:focus {
			&::placeholder {
				color: transparent;
			}
		}
		// Firefox
		&::-moz-placeholder {
			color: g.$font-color--default;
			opacity: 1;
		}

		@media ( max-width: 730px ) {
			@include g.font-rem( 12 )
		}

		@include g.breakpoint ( sp ) {
			@include g.font-rem( 12 )
		}

		@include g.breakpoint ( pc ) {
			padding-left: 10px;
		}
	}
}
