@use "../../foundation/global" as g;

.c-text {
	text-decoration: none;
	color: g.$font-color--gray;
	@include g.font-rem( 1 );
	@include g.breakpoint ( tablet ) {
		@include g.font-rem( 12 );
	}
	&--title {
		color: g.$font-color--default;
		@include g.font-rem( 24 );
		@include g.breakpoint ( pc ) {
			@include g.font-rem( 26 );
		}
	}
	&--head {
		@include g.font-rem( 20 );
		@include g.breakpoint ( pc ) {
			@include g.font-rem( 24 );
		}
	}
	&--subhead {
		@include g.font-rem( 18 );
	}
	&--little {
		@include g.font-rem( 15 );
	}
	&--default {
		@include g.font-rem( 16 );
	}
	&--gray {
		color: g.$font-color--gray;
	}
	&--pink {
		color: g.$font-color--pink;
		font-weight: bold;
	}
	&--sns {
		color: g.$font-color--default;
		@include g.font-rem( 12 );
	}
	&--copyright {
		font-style: normal;
		text-align: center;
	}
}
