@use "../../foundation/global" as g;

.c-time-category-chunk {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin-bottom: 2%;
}
.time,
.category {
	list-style: none;
}
.time {
	color: g.$font-color--gray;
}
.category {
	color: g.$font-color--pink;
	font-weight: bold;
}
